body {
  box-sizing: border-box;
  min-height: 100vh;
}

td,
th {
  border: 1px solid #777;
  padding: 0;
  margin: 0;
  text-align: center;
}

tr {
  width: 50%;
}

table {
  border-collapse: collapse;
}

tbody tr:nth-child(odd) {
  background: #eee;
}
.disable {
  display: none;
}
